matplotlib==3.6.0
pandas==1.2.5
pillow==9.3.0
plotly==5.4.0
click==7.1.2
catboost==1.0.0
scikit-learn==1.1.0
ipython
selenium==3.141.0
webdriver_manager==3.5.2
beautifulsoup4==4.10.0
streamlit==1.4.0
streamlit_extras==0.2.4
openpyxl
user-agents
streamlit_ace
