matplotlib==3.4.3
pandas==1.5.3
plotly==5.8.2
bar_chart_race==0.1.0
wordcloud==1.9.3
opencv-python-headless==4.5.5.62
click==8.0.3
catboost==1.2.0
scikit-learn==1.1.0
altair==4.1.0
ipython
selenium==3.141.0
webdriver_manager==3.5.2
beautifulsoup4==4.10.0
# streamlit==1.22.0
streamlit==1.30.0
streamlit_extras==0.2.4
openpyxl
user-agents
streamlit_ace
